body{
    overflow-x: hidden;
}

#recordingPrincipal {
	position: fixed;
/*	float:left;*/
	background-color: #CD5C5C;
	width: 300px;
	height: 100%;
	
}

.divform {
	
	width: 100%;
	padding-top: 70px;
        padding-left: 10px!important;
	text-align: center;
/*	background-color: blue;*/
		
}

.td2 {
	width: 100%;
	
}

input, select {
	width: 100%;
	height: 80%;
	border: 0px;
	background-color: #EEE;
	font-weight: bold;
	text-align: center;
	

}

.td2text {
	text-align: left;
}

.btbuscar {
	background-color: #CD5C5C;
	color: #FFFFFF;
	
}

.btbuscar2 {
	width: 100%;
	height: 100%;
	margin: 0px;
	
}
.btbuscar3 {
		padding: 0px;
}

.btbuscar:hover {
	background-color: #FFFFFF;
	color: #000000;
}

.tdvazio {
	background-color: #CD5C5C;
}

#resultFind {
	position: fixed;
	float:right;
	right:0px;
        width: 100%;
	overflow-y:hidden;
	overflow-x: hidden;
	min-width: 76%;
	max-width: 76%;
	height:90%;
	margin-left: 0px;
	margin-top: 1px;
	margin-right: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}

.tableresultFind {
	width:100%;
}

.trmenuresultFind {
	background-color:#CD5C5C;
	text-align: center;
	font-weight: normal;
	font-size: 16px;
	padding:0px 0px;
}
.trdetailresultfind {
	text-align: center;
	font-weight: normal;
	font-size: 14px;
	padding:0px 0px;
	height: 10px;
	line-height: 10px;
}

table.tableresultFind tr:hover td{
 background-color: #FFFFFF;
}



.btlistagravacoes {
	width:20px;
	height:20px;
	padding: 1px ;
}

.rowresultfind:hover td{
	background-color: #FFFFFF;
}
.pag_item {
	width: 100%;
	height: 50px;
	line-height: 20px;
	
        
	
	
}

#pagit {
	width: 100px;
	text-align: center;
        
        
}



#playrec {
	position: absolute;
	top:10px;
	/*bottom: 0px;*/
	height: 60px;
	width: 100%;
	/*background-color: black;*/
	display: block;
	text-align:center;
	
}

/*.threc, .tbodyrec{
  display: block; 
  width: 100%;
}

.tbodyrec{
  overflow-y: scroll;
  height: 490px;
  }*/
 